*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Orbitron', sans-serif;
}
img
{
	width: 100%;
}
.navigate
{
	position: absolute;
    width: 100%;
    padding: 2%;
    right: 1px;
}
nav
{
	float: right;
    width: 55%;
}
.navigator li
{
	list-style: none;
	float: left;
	margin-right: 2%;
}
.navigator li a
{
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 3px;
    font-size: 14px;
    padding: 10%;
}
.navigator li a:hover
{
	padding: 10%;
	border-radius: 10px;
	color: black;
	background: red;
	animation-name: menulink;
	animation-duration: 0.5s;
}
@keyframes menulink {
  from {background-color: transparent; color: #FFFFFF;}
  to {background-color: red; color: black;}
}
.title
{
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 1;
}
.title h1, .title h4
{
	margin-bottom: 15px;
}
.title button
{
	padding: 4%;
    border-radius: 20px;
    background: red;
    border: 0px;
    color: #FFFFFF;
}
.logo span
{
	font-family: 'Orbitron', sans-serif;
	color: #F1F1F1;
	position: absolute;
    font-size: 2em;
    left: 15%;
}

.menu-mobile
{
	display: none;
	color: #FFFFFF;
}
.summary {
	width: 90%;
    padding: 5%;
    text-align: center;

}
.summary h2 
{
	padding-bottom: 2%;
}
.summary .summary-block
{
	padding-bottom: 2%;
}
.about-block
{
	width: 79%;
	float: left;
	padding-left: 1%;
}
.about-image
{
	width: 20%; 
	float: left;
	opacity: 0.6;
}
.about-me {
    padding: 0% 8%;
}
.about-block p 
{
    padding-top: 3%;
    font-size: 13px;
    padding-bottom: 2%;
}
.about-block h2
{
	color: #d00202;
	opacity: 0.6;
}
.about-block span
{
	color: #a55050;
	opacity: 0.6;
}
.about-block a
{
	background: red;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration: none;
}
.about-image:hover
{
	opacity: 1;
}















/** MEDİA QUERYS */


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
.navigate 
{
	display: none;
}
.title
{
	top: 7%;
}
.menu-mobile{
	display: block;
	position: absolute;
    width: 10%;
    z-index: 10;
    right: 1px;
}
.navigate
{
	background: black;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.navigator li
{
	list-style:none;
	text-align: center;
	margin: 10%;
	float: none;
}
.navigator li a
{
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
nav {
    width: 100%;
    margin-top: 20%;
}
.logo span
{
	font-family: 'Orbitron', sans-serif;
	color: #F1F1F1;
	position: absolute;
    font-size: 2em;
    left: 40%;
}

}